:root {
  background-color: #242424;
  background: rgb(26, 31, 35);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#root {
  width: 390px;
  min-height: 422px;
  margin: 0 auto;
  padding: 22px 26px 30px;
  background: rgb(26, 31, 35);
  box-sizing: border-box;
  text-align: center;
  font-family: "ALS Gorizont Expanded Regular";
}



